<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/colors.css">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script>
        function newGame(){
            window.location.href='/NewGame/';
        }
        function logout(){
            window.location.href='/logout/';
        }
    </script>
</head>
<body>
<h1>Hello <%=info.name%></h1>
<button onclick="logout()">Logout</button>
<button onclick="newGame()">New Game</button>
<ul>
    <% for (const pl of info.games) { %>
    <li class="<%=pl.color%>"><a href="/game/<%=pl.game%>">#<%=pl.game%> <%=pl.name%></a></li>
    <% } %>
</ul>
</body>
</html>